/* index landing container and image */

#intro {
    background-image: url(https://res.cloudinary.com/dqj8itdfg/image/upload/v1651007193/wok-665kb_ip9ist.webp);
    height: 100vh;
}

.index-landing-container {
    height: 100vh;
    margin-top: 58px;
}

.index-image-bg {
    background-color: rgba(0, 0, 0, 0.6);
}

/* other landing container and image */
.landing-container {
    height: 300px;
    margin-top: 58px;
}

.bg-image{
    background-image: url('https://res.cloudinary.com/dqj8itdfg/image/upload/v1651007193/wok-665kb_ip9ist.webp');
}

.menu-image {
    background-image: url('https://res.cloudinary.com/dqj8itdfg/image/upload/v1651007193/wok-665kb_ip9ist.webp');
}

.cart-image {
    background-image: url('#');
}

.image-bg {
    background-color: rgba(0, 0, 0, 0.1);
}

/* like section */
.card-bg {
    background-color: rgba(251, 251, 251, 0.15);
}

/* cart html */
.item-image {
    width: 100px; 
    height: 100px;
}

.first-name {
    margin-left: 0px;
}

.form-width {
    width: 9px;
}


/* customer html */
main.box {
    margin-top: 100px;
    margin-bottom: 50px;
}


@media (min-width: 992px) {
    #intro {
        margin-top: -58.59px;
    }
}