{% extends 'base.html' %}
{% load static %}
{% block content %}

<header>
    <!-- Background image -->
    <div class="p-5 text-center bg-image landing-container cart-image">
      <div class="mask image-bg">
        <div class="d-flex justify-content-center align-items-center h-100">
          <div class="text-dark">
            <h1 class="mb-3">Checkout</h1>
            <h4 class="mb-3">Thank you for your order! </h4>
            <a class="btn btn-outline-dark btn-lg" href="{% url 'index'%}" role="button"
            >Back to homepage</a
            >
          </div>
        </div>
      </div>
    </div>
    <!-- Background image -->
</header>

<section>
    <!-- Table -->
    <div class="d-flex justify-content-center my-5">
        <div class="row col-md-10">
            {% csrf_token %}
            <table class="table table-striped">
                <thead class="bg-light text-center">
                  <tr>
                    <th>Product</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                  </tr>
                </thead>
                {% for item in items %}
                <tbody class="text-center align-middle">
                    <tr>
                        <td>
                            <div class="d-flex align-items-center justify-content-center">
                                <img
                                    src="{{item.menu.image.url}}"
                                    alt=""
                                    class="rounded-circle item-image"
                                />
                            </div>
                        </td>
                        <td>
                            <p class="fw-normal mb-1">{{item.menu.name}}</p>
                        </td>
                        <td>
                            <span class="badge badge-success rounded-pill d-inline">€{{item.menu.price|floatformat:2}}</span>
                        </td>
                        <td>
                            <div class="btn-group btn-group-sm shadow-0" role="group">
                                <button 
                                    type="button" 
                                    class="btn btn-light update-cart" 
                                    data-mdb-ripple-color="dark"
                                    data-menu={{item.menu.id}}
                                    data-action="add"
                                >
                                    <i class="fa-solid fa-caret-up"></i>
                                </button>
                                <button type="button" class="btn btn-light" data-mdb-ripple-color="dark">
                                    {{item.quantity}}
                                </button>
                                <button 
                                    type="button" 
                                    class="btn btn-light update-cart" 
                                    data-mdb-ripple-color="dark"
                                    data-menu={{item.menu.id}}
                                    data-action="remove"
                                >
                                    <i class="fa-solid fa-caret-down"></i>
                                </button>
                            </div>
                        </td>
                        <td>
                            <button type="button" class="btn btn-link btn-sm btn-rounded">
                                {{item.get_total}}
                            </button>
                        </td>
                  </tr>
                  {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <!-- Table -->

    <!-- Place order -->
    <div class="d-flex justify-content-center my-5">
        <div class="row col-md-10">
            <div class="col-md-8 mb-4">
                <!--Section: Checkout form-->
                <section class="shadow-5 p-4">
                <form id="form">

                    <!-- Full name text input -->
                    <div class="form-outline mb-4">
                        <input
                            required
                            type="text"
                            id="form6Example4"
                            class="form-control"
                            autocomplete="off"
                            name="full-name"
                        />
                        <label
                            class="form-label"
                            for="form6Example4"
                            style="margin-left: 0px"
                        >Full name</label>
                    </div>

                    <!-- Number input -->
                    <div class="form-outline mb-4">
                        <input
                            required
                            type="number"
                            id="form6Example6"
                            class="form-control"
                            name="phone"
                        />
                        <label
                            class="form-label"
                            for="form6Example6"
                            style="margin-left: 0px"
                        >Phone</label>
                    </div>

                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <input
                            required
                            type="email"
                            id="form6Example5"
                            class="form-control"
                            autocomplete="off"
                            name="email"
                        />
                        <label
                            class="form-label"
                            for="form6Example5"
                            style="margin-left: 0px"
                        >Email</label>
                    </div>
        
                    <!-- Address input -->
                    <div class="form-outline mb-4">
                        <input
                            required
                            type="text"
                            id="form6Example4"
                            class="form-control"
                            autocomplete="off"
                            name="address"
                        />
                        <label
                            class="form-label"
                            for="form6Example4"
                            style="margin-left: 0px"
                        >Address</label>
                    </div>

                    <!-- Eircode input -->
                    <div class="form-outline mb-4">
                        <input
                            required
                            type="text"
                            id="form6Example4"
                            class="form-control"
                            autocomplete="off"
                            name="eircode"
                        />
                        <label
                            class="form-label"
                            for="form6Example4"
                            style="margin-left: 0px"
                        >Eircode</label>
                    </div>
        
                    <!-- Message input -->
                    <div class="form-outline mb-4">
                        <textarea
                            class="form-control"
                            id="form6Example7"
                            rows="4"
                            name="message"
                        ></textarea>
                        <label
                            class="form-label"
                            for="form6Example7"
                            style="margin-left: 0px"
                        >Message</label>
                    </div>
                </form>
                </section>
                <!--Section: Checkout form-->
            </div>
        
            <div class="col-md-4 mb-4">
                <!--Section: Summary-->
                <section>
                    <div class="card">
                        
                        <div class="card-header bg-white text-center py-3">
                        <h5 class="mb-0 fw-bold">Summary</h5>
                        </div>
            
                        <div class="card-body">
                        <ul>
                            <li><strong>Delivery fee: </strong>$100</li>
                            <li><strong>Service fee: </strong>$50</li>
                            <li><strong>Total items: </strong>{{order.get_cart_items}}</li>
                        </ul>
                        </div>
            
                        <div
                            class="card-footer bg-white d-flex justify-content-between py-3"
                            >
                            <strong>Total amount:</strong>
                            <strong>{{order.get_cart_total|floatformat:2}}</strong>
                        </div>
                    </div>
                
                    <!-- <button id="make-payment" type="button" class="btn btn-primary btn-block mb-4">
                        Place order
                    </button> -->
                    <!-- Button trigger modal -->
                    <button 
                        type="button" 
                        class="btn btn-primary btn-block mb-4" 
                        data-mdb-toggle="modal" 
                        data-mdb-target="#submitModal"
                    >
                        Place order
                    </button>
                    
                    <!-- Modal -->
                    <div 
                        class="modal fade" 
                        id="submitModal" 
                        tabindex="-1" 
                        aria-labelledby="submitModalLabel" 
                        aria-hidden="true"
                    >
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="submitModalLabel">Payment</h5>
                                    <button 
                                        type="button" 
                                        class="btn-close" 
                                        data-mdb-dismiss="modal" 
                                        aria-label="Close"
                                    ></button>
                                </div>
                                <div class="modal-body">
                                    <div id="paypal-button"></div>
                                </div>
                                <div class="modal-footer">
                                    <button 
                                        type="button" 
                                        class="btn btn-primary" 
                                        data-mdb-dismiss="modal"
                                    >Go back</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!--Section: Summary-->
            </div>
        </div>
    </div>
    <!-- Place order  -->
</section>

<script type="text/javascript" src="{% static 'js/order.js' %}"></script>

<script src="https://www.paypalobjects.com/api/checkout.js"></script>
<script>
  paypal.Button.render({
    // Configure environment
    env: 'sandbox',
    client: {
      sandbox: 'AW_UGngJPdhmo5GQIG9Cxek96ITIzoPUmPano_DXfhmupMEH8mB4l86W2pavw3mGEKNmzYModIiHRU8j',
      production: 'demo_production_client_id'
    },
    // Customize button (optional)
    locale: 'en_US',
    style: {
      size: 'responsive',
      color: 'blue',
      shape: 'rect',
      layout: 'vertical',
    },

    // Enable Pay Now checkout flow (optional)
    commit: true,

    // Set up a payment
    payment: function(data, actions) {
      return actions.payment.create({
        transactions: [{
          amount: {
            total: {{order.get_cart_total|floatformat:2}},
            currency: 'EUR'
          }
        }]
      });
    },
    // Execute the payment
    onAuthorize: function(data, actions) {
      return actions.payment.execute().then(function() {
        // Show a confirmation message to the buyer
        window.location.href = '/order-pay-confirmation/'
      });
    }
  }, '#paypal-button');

</script>

{% endblock content %}