{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<div class="p-5"></div>

<section>
    <!-- Table -->
    <div class="d-flex justify-content-center my-5">
        <div class="row col-md-10">
            <form id="form" class="blueForms" action="" method="POST">
                {% csrf_token %}
                <table class="table table-striped">
                    <thead class="bg-light text-center">
                    <tr>
                        <th>Product</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                    </tr>
                    </thead>
                    {% for item in items %}
                    <tbody class="text-center align-middle">
                        <tr>
                            <td>
                                <div class="d-flex align-items-center justify-content-center">
                                    <img
                                        src="{{item.menu.image.url}}"
                                        alt=""
                                        class="rounded-circle"
                                        style="width: 100px; height: 100px"
                                    />
                                </div>
                            </td>

                            <td>
                                <p class="fw-normal mb-1">{{item.menu.name}}</p>
                            </td>
                            <td>
                                <span class="badge badge-success rounded-pill d-inline">€{{item.menu.price}}</span>
                            </td>
                            <td>
                                <div class="btn-group btn-group-sm shadow-0" role="group">
                                    <button 
                                        type="button" 
                                        class="btn btn-light update-cart" 
                                        data-mdb-ripple-color="dark"
                                        data-menu={{item.menu.id}}
                                        data-action="add"
                                    >
                                        <i class="fa-solid fa-caret-up"></i>
                                    </button>
                                    <button type="button" class="btn btn-light" data-mdb-ripple-color="dark">
                                        {{item.quantity}}
                                    </button>
                                    <button 
                                        type="button" 
                                        class="btn btn-light update-cart" 
                                        data-mdb-ripple-color="dark"
                                        data-menu={{item.menu.id}}
                                        data-action="remove"
                                    >
                                        <i class="fa-solid fa-caret-down"></i>
                                    </button>
                                </div>
                            </td>
                            <td>
                                <button type="button" class="btn btn-link btn-sm btn-rounded">
                                    {{item.get_total}}
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <div class="row">

                    <!-- order summary -->
                    <div class="col-md-4 mb-4">

                        <div class="card">
                            <div class="card-body">
                                        
                                <div class="card-header bg-white text-center py-3">
                                    <h5 class="mb-0 fw-bold">Summary</h5>
                                </div>
                    
                                <div class="card-body">
                                    <ul>
                                        <li><strong>Total items: </strong>{{order.get_cart_items}}</li>
                                    </ul>
                                </div>
                    
                                <div
                                    class="card-footer bg-white d-flex justify-content-between py-3"
                                >
                                    <strong>Total amount:</strong>
                                    <strong>{{order.get_cart_total}}</strong>
                                </div>
                                <div id="paypal-button" class="make-payment"></div>
                                

                            </div>
                        </div>
                    </div>
                    <!-- order summary -->

                    <!-- address -->
                    <div class="col-md-8 mb-4">

                        <div class="card">
                            <div class="card-body">
                                {% crispy form %}

                            </div>
                            <button 
                                id="place-order"
                                type="submit" 
                                class="btn btn-primary mb-4" 
                                data-mdb-dismiss="modal"
                            >Place order</button>
                        </div>

                    </div>
                    <!-- address -->

                </div>  
            </form> 
        </div>
    </div>
    <!-- Table -->

</section>

<script type="text/javascript" src="{% static 'js/order.js' %}"></script>

<script src="https://www.paypalobjects.com/api/checkout.js"></script>
<script>

//   var placeOrderBtns = document.getElementById('place-order')

  paypal.Button.render({
    // Configure environment
    env: 'sandbox',
    client: {
      sandbox: 'AW_UGngJPdhmo5GQIG9Cxek96ITIzoPUmPano_DXfhmupMEH8mB4l86W2pavw3mGEKNmzYModIiHRU8j',
      production: 'demo_production_client_id'
    },
    // Customize button (optional)
    locale: 'en_US',
    style: {
      size: 'responsive',
      color: 'blue',
      shape: 'rect',
      layout: 'vertical',
    },

    // Enable Pay Now checkout flow (optional)
    commit: true,

    // Set up a payment
    payment: function(data, actions) {
      return actions.payment.create({
        transactions: [{
          amount: {
            total: {{order.get_cart_total}},
            currency: 'EUR'
          }
        }]
      });
    },
    // Execute the payment
    onAuthorize: function (data, actions){
      return actions.payment.execute().then(function() {
        // Show a confirmation message to the buyer
        swal("Payment completed! Please make sure your address is filled and click place order! ")
      });
    }
  }, '#paypal-button');

</script>

{% endblock content %}

