{% extends 'base.html' %}
{% block content %}

<header>
    <!-- Background image -->
    <div
      class="p-5 text-center bg-image"
      style="
        background-image: url('#');
        height: 300px;
        margin-top: 58px;
      "
    >
      <div class="mask" style="background-color: rgba(0, 0, 0, 0.1);">
        <div class="d-flex justify-content-center align-items-center h-100">
          <div class="text-dark">
            <h1 class="mb-3">Fast delivery</h1>
            <h4 class="mb-3">Enjoy your food</h4>
            <a class="btn btn-outline-dark btn-lg" href="{% url 'menu' %}" role="button"
            >Order Now</a
            >
          </div>
        </div>
      </div>
    </div>
    <!-- Background image -->
</header>

<!--Main layout-->
<main class="my-5">
    <div class="container">
        <form method="POST">
            {% csrf_token %}
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-md-12 mb-4">
                    <!--Section: Content-->
                    <section>
                        <!--Meal-->
                        <div class="row">
                            {% for menu in menus %}
                            <div class="col-lg-4 col-md-12 mb-4">
                                <div class="card">
                                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                                    <img src="{{ menu.image.url }}" class="img-fluid" />
                                    <a href="#!">
                                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                    </a>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">{{menu.name}}</h5>
                                    <p class="card-text">€{{menu.price|floatformat:2}}</p>
                                    <section>
                                        <!--Grid row-->
                                        <div class="row">
                                        <!--Grid column-->
                                        <div class="col-md-12 mb-2">
                                            <!-- Accordion wrapper -->
                                            <div class="accordion" id="accordionExample">

                                            <!-- Single collapse -->
                                            <div id="headingTwo">
                                                <h2>
                                                <button
                                                        class="btn btn-link btn-block text-start ps-3 collapsed"
                                                        type="button"
                                                        data-mdb-toggle="collapse"
                                                        data-mdb-target="#collapseTwo"
                                                        aria-expanded="false"
                                                        aria-controls="collapseTwo"
                                                        >
                                                        Description
                                                </button>
                                                </h2>
                                            </div>
                                
                                            <div
                                                id="collapseTwo"
                                                class="collapse ps-3"
                                                aria-labelledby="headingTwo"
                                                data-mdb-parent="#accordionExample"
                                                >
                                                {{menu.description}}                                           
                                            </div>
                                            <!-- Single collapse -->
                                            </div>
                                            <!-- Accordion wrapper -->
                                        </div>
                                        <!--Grid column-->
                                        </div>
                                        <!--Grid row-->
                                    </section>
                                    <button type="button" class="btn btn-light" data-mdb-ripple-color="dark">Add to Cart</button>
                                </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>

                    </section>
                    <!--Section: Content-->
                </div>
            </div>
        </form>

        <!-- Pagination -->
        <nav class="my-4" aria-label="...">
            <ul class="pagination pagination-circle justify-content-center">
            <li class="page-item">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
            </ul>
        </nav>

    </div>
</main>
{% endblock content %}