{%  extends 'base.html' %}
{% block content %}
  
<!--Main layout-->
<main class="box">
	<div class="container pt-4">

		<!-- Background image -->
		<div
			class="p-5 text-center bg-image"
			style="
				background-image: url('#');
				height: 30px;
				margin-top: 58px;"
		>
			<!-- <div class="mask" style="background-color: rgba(255, 255, 255, 0.1);">
				<div class="d-flex justify-content-center align-items-center h-100">
					<div class="text-dark">
						<h1 class="mb-3">Fast delivery</h1>
						<h4 class="mb-3">Enjoy your food</h4>
						<a class="btn btn-outline-dark btn-lg" href="{% url 'menu' %}" role="button"
						>Order Now</a>
					</div>
				</div>
			</div> -->
		</div>
		<!-- Background image -->
		
		<!--Section: Minimal statistics cards-->
		<section>
			<div class="row">
				<!-- customer profile -->
				<div class="col-xl-3 col-sm-6 col-12 mb-4">
					<div class="card">
						<div class="card-body">
							<div class="d-flex justify-content-between px-md-1">

								<div class="align-self-center">
									<i class="far fa-user text-success fa-3x"></i>
								</div>

								<div>
									<h3 class="text-success">156</h3>
									<p class="mb-0">Profile</p>
								</div>

							</div>
						</div>
					</div>
				</div>

				<!-- total orders -->
				<div class="col-xl-3 col-sm-6 col-12 mb-4">
					<div class="card">
						<div class="card-body">
							<div class="d-flex justify-content-between px-md-1">
								<div class="align-self-center">
									<i class="fas fa-chart-line text-info fa-3x"></i>
								</div>
								<div class="text-end">
									<h3 class="text-info">{{total_orders}}</h3>
									<p class="mb-0">Total orders</p>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- order deliveried -->
				<div class="col-xl-3 col-sm-6 col-12 mb-4">
					<div class="card">
						<div class="card-body">
							<div class="d-flex justify-content-between px-md-1">

								<div class="align-self-center">
									<i class="fas fa-mug-hot text-danger fa-3x"></i>
								</div>

								<div>
									<h3 class="text-danger">{{delivered}}</h3>
									<p class="mb-0">Order deliveried</p>
								</div>

							</div>

						</div>
					</div>
				</div>

				<!-- order pending -->
				<div class="col-xl-3 col-sm-6 col-12 mb-4">
					<div class="card">
						<div class="card-body">
							<div class="d-flex justify-content-between px-md-1">

								<div class="align-self-center">
									<i class="fas fa-rocket text-warning fa-3x"></i>
								</div>

								<div>
									<h3 class="text-warning">{{Pending}}</h3>
									<p class="mb-0">pending</p>
								</div>

							</div>
						</div>
					</div>
				</div>

			</div>

		</section>
		<!--Section: Minimal statistics cards-->

		<!--Section: Sales Performance KPIs customer html-->
		<section class="mb-4 mt-5">
			<div class="card">
				<div class="card-header text-center py-3">
					<h5 class="mb-0 text-center">
						<strong>Address</strong>
					</h5>
				</div>
				<div class="card-body text-center ">
					<div class="table-responsive">
						<table class="table table-hover text-nowrap">
							<!-- <thead>
								<tr>
									<th scope="col">Order Number</th>
									<th scope="col">Order Date</th>
									<th scope="col">Delivery Address</th>
									<th scope="col">Contact Number</th>
									<th scope="col">Order Status</th>
								</tr>
							</thead> -->
							{% for i in customer %}
							<tbody>

								<tr> 
									<td>{{i.address}}</td>
								</tr>

							</tbody>
							{% endfor %}
						</table>
					</div>
				</div>
			</div>
		</section>
		<!--Section: Sales Performance KPIs-->
	</div>
</main>
<!--Main layout-->

{% endblock %}